<div class="container-fluid background ">
    <div class="row mx-5 mt-5 py-5">
        <div class="col-3 py-5">
            <h5>Health</h5>
            <p>MediBuddy Gold</p>
            <p> Book Medicine</p>
            <p>Doctor Consultation</p>
            <p>Book a Lab test</p>
            <p>Covid Essential Items</p>
            <p> Dental</p>
            <p> Cancer Care</p>
        </div>
        <div class="col-3 py-5">
            <h5>Hospitalization</h5>
            <p>Plan hospitalization</p>
            <p>Locate hospital</p>
            <p>Download: eCard|Claim forms</p>
            <p>Intimate claim</p>
            <p> Track claim</p>
            <p> FAQs</p>
        </div>
        <div class="col-3 py-5">
            <h5>ABOUT</h5>
            <p>Overview</p>
            <p> Testimonials</p>
            <p>Contact</p>
            <p> Blog</p>
            <p>Careers</p>
            <p> Security</p>
        </div>
        <div class="col-3 mt-5 py-5 text-start">
            <p>DOWNLOAD APP</p>
            <i class="bi bi-google-play"></i> &nbsp; <i class="bi bi-apple"></i>
            <p>FOLLOW US</p>
            <span><i class="bi bi-facebook "></i> &nbsp; <i class="bi bi-linkedin"></i> &nbsp; <i
                    class="bi bi-twitter"></i> &nbsp; <i class="bi bi-whatsapp"></i></span>
            <br>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="footer btn text-white mt-2 footer"><b>Terms of Use</b></button>
            </div>
            <div>
                <button type="button" class="footer btn text-white mt-2 footer"><b>Privacy Policy</b></button>
            </div>

        </div>
    </div>
</div>